<!-- About Section -->
<section id="about" class="container content-section text-center">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <br /><br />
      <h2>About Adam Bacon</h2>
      <br />
      <p>
        I have been working in the I.T industry since the year 2000. I have
        worked in many different places and environments.
      </p>
      <p>
        During this time I have gained a wide range of office and people skills.
        As well as developing my own I.T career path.
      </p>
      <p>
        I can manage small to large sized projects working on my own initiative
        or part as a team.
      </p>
      <p>
        I also have good knowledge of Microsoft Powershell, which I have used to
        save hundreds of work hours by writing scripts.
      </p>
      <p>
        Automating tasks that previously were done manually by various staff
        members, I can create applications to solve business problems using the
        powershell and SQL skills I have.
      </p>
      <p>Maintaining all aspects of I.T where I currently work</p>
      <br />
    </div>
  </div>
</section>
